@model ApplicationDesignWebApp.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Element_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Element_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HP_Initial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HP_Initial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HP_Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HP_Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
