@model IEnumerable<ApplicationDesignWebApp.Character>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="character-entry">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Element_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HP_Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HP_Max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maps)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Element_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HP_Initial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HP_Max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPC)
        </td>

        <td>
            @if (item.Maps != null && item.Maps.Count > 0)
            {
                int i = 1;
                foreach (var map in item.Maps)
                {

                    @Html.DisplayFor(modelItem => map.Map_Name)
                    if (i != item.Maps.Count)
                    {
                        <text>
                            | 
                        </text>
                    }
                    i++;
                }
            }
            else
            {
                <p>
                    None
                </p>
            }
        </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
}

</table>
